
.container a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

form p label {
    width: 10%;
}

form p input[type="text"], form p input[type="number"], form p select {
    width: 20%;
}

form p span {
    width: 20%;
    color: RED;
}

form p button, table button {
    background-color: #4f34eb;
    color: #FFF;
}

form p .input-validation-error {
    border: 1px solid red;
    background-color: #fee;
}

table {
    border: solid 1px #ff6a00;
}

    table thead {
        background: #34e5eb;
    }

table td, table th {
    padding: 10px;
}